# Node modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Operating system files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Build folders
dist/
build/

# Coverage folder
coverage/

# Temporary files
tmp/
temp/

# MongoDB local database files
data/